@if (Question != null)
{
    <div class="small fw-semibold">
        @Question?.TextShort
        <MediaIcon MediaType="Question?.MediaType" />
    </div>
    <div class="small text-muted">→ @Question?.Answer</div>
}