@if (UsedInQuiz == null && !IsInCompletedQuiz)
{
    <button class="btn btn-outline-danger btn-sm w-100"
            title="Delete"
            @onclick="OnDelete">
        <span class="oi oi-trash" />
    </button>
}
