@if (Type is { } mt && mt != MediaType.None)
{
    var iconClass = mt switch
    {
        MediaType.Image => "oi oi-image",
        MediaType.Audio => "oi oi-musical-note",
        MediaType.Video => "oi oi-video",
        _ => ""
    };
    if (iconClass != "")
    {
        <span class="@CssClass text-muted" title="@mt.ToString()">
            @Prefix<span class="@iconClass" />
        </span>
    }
}