<small class="text-muted @(!(IsInCompletedQuiz || UsedInQuiz != null || WasUsed) ? "d-none" : "") fst-italic">
    @if (IsInCompletedQuiz && UsedInQuiz != null)
    {
        <span class="fst-normal">@UsedInQuiz</span>
    }
    else if (UsedInQuiz != null)
    {
        <span>assigned: @UsedInQuiz</span>
    }
    else if (WasUsed)
    {
        <span>previously used</span>
    }
</small>
